  *{margin-top:100px;
    margin-left: 100px;
    background-color: gray;
  }
  .btn1 { 
    width: 200px;
    height: 100px;
    background-color: gray;
    position: relative;
    overflow: hidden;
  }

  .btn1::after{
    content:""; 
    width: 200px;
    height: 100px;
    background-color:red;
    transform:translateY(-100%);
    transition: transform 1s ease, opacity 1s ease;
    position:absolute;
    top: 0;
    right: 0;
  } 

.btn1:hover::after{
  content:"cool!";
  font-size: 20px;
  align-content: center;
  position: absolute;
  width: 200px;
  height: 100px;
  background-color:red;
  transform:TranslateX(0);
}
/*______________________________________________________________________________________________________*/

.btn2 { 
  width: 200px;
  height: 100px;
  background-color: gray;
  position: relative;
  overflow: hidden;
}

.btn2::after{
  content:"TranslateY"; 
  align-content: center;
  width: 200px;
  height: 100px;
  background-color:gray;
  transform:TranslateX(0px);
  position:absolute;
  top: 0;
  left: 0;
} 

.btn2:hover::after{
  content:"TranslateY";
  align-content: center;
  position: absolute;
  width: 200px;;
  height: 100px;
  background-color:blue;
  transform:TranslateX(200px);
  transition: transform 1s ease, opacity 1s ease;
  }


/*______________________________________________________________________________________________________*/
.btn3 { 
  width: 200px;
  height: 100px;
  background-color: gray;
  position: relative;
  overflow: hidden;
}

.btn3::before{
  content:""; 
  align-content: center;
  width: 200px;
  height: 100px;
  background-color:gray;
  transform: translate(0px,0px);
  position:absolute;
  top: 0;
  left: 0;
} 

.btn3:hover::before{
  content:"";
  align-content: center;
  position: absolute;
  width: 200px;;
  height: 100px;
  background-color:yellow;
  transform: translate(-200px,-200px);
  transition: transform 1s ease, opacity 1s ease;  }

  /*______________________________________________________________________________________________________*/
    .btn4 { 
      width: 200px;
      height: 100px;
      background-color: gray;
      position: relative;
      overflow: hidden;
    }

    .btn4::before{
      content:"Scale"; 
      background-size: white;
      font-size: 20px;
      width: 200px;
      height: 100px;
      background-color: gray;
      transform: scale(0.7);
      position:absolute;
      top: 0;
      right: 0;
    } 

  .btn4:hover::before{
    content:"Scale!";
    background-size: white;
    font-size: 20px;
    text-align: center;
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: black;
    transform: scale(.7);
    }

    .btn4 p{
      color: white;
    }
  /*______________________________________________________________________________________________________*/
  .btn5 { 
    width: 200px;
    height: 100px;
    background-color: gray;
    position: relative;
    overflow: hidden;
  }

  .btn5::after{
    content:"Skew"; 
    width: 200px;
    height: 100px;
    background-color:gray;
    transform: skew(0);
    position:absolute;
    top: 0;
    right: 0;
  } 

  .btn5:hover::after{
    content:"Skew";
    font-size: 20px;
    text-align: center;
    position: absolute;
    width: 200px;
    height: 100px;
    background-color:purple;
    transform: skew(25deg);  
    transition: transform 1s ease, opacity 1s ease;
}

  /*______________________________________________________________________________________________________*/
