*{
    margin: 0px;
      padding: 0px;  
  }
  body {
    font-family: Arial, sans-serif;
   
    display: flex;
    justify-content: left;
    align-items: center;
    height: 10vh;
    background-color: #dad7d7;
}
.container {
    display: flex;
    gap:335px;
}

/* Individual box styles */
.box {
    width: 200px;   
    height: 200px;
            
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.box1 {
    background-color: #0c9a49; /* Orange-red */
}

.box2 {
    background-color: #0e9dcc; /* Light blue */
}

.box3 {
    background-color: #ab4141; /* Light green */
}
