.div1, .div2, .div3, .div4 {
    position: relative;
    border: 1px solid black;
    /* כאן נקבע את הערכים של top, bottom, left ו-right לכל div */
}

.div1 {
    position: relative;
    width: 100px;
    height: 100px;
}

.div2 {
    position: absolute ;
    width: 100px;
    height: 100px;
    left:70px;
    top: 70px;
}

.div3 {
    position: relative ;
    width: 280px;
    height: 70px;
    bottom: -60px;
}

.div4 {
    position:relative;
    width: 73px;
    height: 280px;
    left: 200px;
    bottom: 173px;
}