/* styles.css */
body {
    font-family: sans-serif;
    background-color: #29aa99;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: baseline;
    min-height: 100vh;
    text-align: left;
  }
  
  .Email{
    margin-right: 30px;
  }
  .Age {
   margin-right: 40px
   ;
  }


  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 500px;
  }
  
  /* ... שאר הסגנונות ... */
  
  h1{
    margin-bottom: 50px;
    width: fit-content;
    text-align: left;
  }